*{
	box-sizing: border-box;
}

#header-nav {
  background-color: #800080;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1{
	font-size: 1.5em;
	color: #ffffff;
	font-family: "Comic Sans MS";
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: auto;
	margin-bottom: auto;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  }
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #00ff00;
  background-color: #ff6600;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}

#info{
	background-color: #66a3ff;
	margin-top: 30px;
	padding: 15px;
	font-size: 1.5em;
	margin-bottom: 15px;
/*	margin-left: 0.1%;
	margin-right: 0.1%;*/
}
#info h3{
	font-weight: bold;
	font-size: 1.2em;
}

